html {
  background-color: #282c34;
}

.App {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.form-container {
  margin: 2%;
  width: 33%;
}

.form-field {
  margin-bottom: 10%;
}
